# Ignore local GitHub folder
/.github/

# VS Code Local History
.history/
**/_history/

# Maven
target/
*.class

# IDE files
.idea/
*.iml
.settings/
.project/
.classpath/

# Local configuration
src/main/resources/application.properties

# Optional environment files
.env
.env.*




